body{
    background-image: url(../imagenes/background.jpg!d);
    flex: content;
    margin: 0%;
    padding: 0%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    margin-right: 2cm;
    float: right;
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: blue;
}

.barra{
    background-color: rgba(1, 1, 1, 0.896);
    box-shadow: 15px 2px 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    height: 80px;
}

.contenedor{
    width: 70%;
    height: auto;
    margin-left: 15%;
    border: solid;
    border-color: black 2px;
    box-shadow: 5px 10px 15px;
    color: rgba(5, 125, 165, 0.604);
    background-color: rgba(78, 78, 78, 0.781);
}

#contenido{
    width: 90%;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 7mm;

}
h2{
    text-align: center;
}

.redessociales{
    position: fixed;
    bottom: 0px;
    margin-left: 0%;
}